body {
	text-align: center;
}
table {
	border: 2px solid black;
}
td:hover {
	background-color: white;
	color: orange;
}
tr, th {
	background-color: black;
	color: white;
}
tr, td {
	background-color: orange;
	color: black;
}