body {
	font-family: Arial;
	text-align: center;
}
h1 {
	color: blue;
	font-size: large;
	text-transform: uppercase;
}
.remain {
	color: green;
	font-size: medium;
	font-weight: bold;
}
.evict {
	color: red;
	font-size; medium;
	font-weight: bold;
}
span {
	background-color: yellow;
	color: black;
	font-size: medium;
}
